.menu-slide {
  position: fixed;
  height: 100vh;
  width: 80vw;
  z-index: 10;
  visibility: visible; /* Make sure it's visible from the start */
  transform: translateX(-100%); /* Initially off-screen to the left */
  transition: transform 0.5s ease-out; /* Smooth transition for transform */
}

.menu-slide.open {
  transform: translateX(0); /* Move it into view when 'open' */
}

/* Overlay */
.overlay {
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: auto;
}
