$color-grey: #F9F9F9;
$color-light-gray: #EFEFEF;
$breakpoint-md: 1024px;
$white: #fff;
// $primary: #8B0000;
$primary: rgb(185, 28, 28);
$success: #115c11;
$moblie: 767px;
$desktop: 1024px;
$grey: #fefdfd;
$black: #000;

$contentsection-border-color: rgba(0, 0, 0, .1);

$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
